<!doctype html>
<html>
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/neverworm.css' %}" rel="stylesheet" type="text/css"/>
    <title>{% block title %}Welcome to Milk-E-Way!{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      {% block navbar %}
      <div id="navbar" class="nav">
	<ul class="pull-left">
	  <li><a href="/">Home</a></li>
	  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>

	</ul>
	<ul class="pull-right">
          {% if not user.is_authenticated %}
	  <li><a href="{% url 'login' %}">Login</a></li>
          {% else %}
	  <li>Hello, {{user.username}}!</li>
	  <li><a href="/logout">Logout</a></li>
          {% endif %}
	</ul>
      </div>
      {% endblock %}
      {% block errorblock %}
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      {% endblock %}

      <div id="content">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
