{% extends "base.html" %}
{% block title %}Milk-e-Way | Dashboard{% endblock %}
{% block content %}
    <h2>Dashboard</h2>
    <ul>
        {% for wishlist in object_list %}
            <li>
              {{ wishlist }} ({{ wishlist.progress|multiply 10 }}&#37;)
              {% if wishlist.is_success %}
              <small>SUCCESS</small>
              {% elif wishlist.is_expired %}
              <small>EXPIRED</small>
              {% elif wishlist.is_active %}
              <a href="{% url 'wishlist_detail' wishlist.id %}">Place order!</a>
              {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
