{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}} | {% trans "Dashboard" %}{% endblock %}
{% block content %}
    <h2>{% trans "Dashboard" %}</h2>
    <a class="btn btn-md btn-primary btn-block" href="{% url 'wishlist_create' %}">{% trans "Create wishlist" %}</a>
    <ul>
        {% for wishlist in object_list %}
            <li id="{{wishlist.id}}">
              {{ wishlist }} ({{ wishlist.amount }}/{{wishlist.goal}})
              {% if wishlist.is_success %}
              <small>{% trans "SUCCESS" %}</small>
              {% elif wishlist.is_expired %}
              <small>{% trans EXPIRED %}</small>
              {% elif wishlist.is_published %}
              <a href="{% url 'wishlist_detail' wishlist.id %}">{% trans "Place order!" %}</a>
              {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
