{% extends "base.html" %}
{% block title %}Milk-e-Way | Welcome{% endblock %}
{% block content %}
<div id="index-content">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to milk-e-way</h1>
      {% if worker_count %}
      <p>Connecting {{worker_count}} Women Livestock Extension Workers in {{village_count}} villages!</p>
      {% endif %}
      <p>
        <button type="submit" class="btn btn-primary">
          Learn more
        </button>
      </p>
    </div>
  </div>
</div>
{% endblock %}
