{% extends "base.html" %}
{% load i18n %}
{% block title %}{{block.super}} | {% trans "Welcome" %}{% endblock %}
{% block content %}
<div id="index-content">
  <div class="jumbotron">
    <div class="container">
      <h1>{% blocktrans with brand=BRAND_LABEL %}Welcome to {{brand}}{% endblocktrans %}</h1>
      {% if worker_count %}
      <p>
      {% blocktrans with wc=worker_count count vc=village_count %}
Connecting {{wc}} Women Livestock Extension Workers in {{vc}} village!
      {% plural %}
Connecting {{wc}} Women Livestock Extension Workers in {{vc}} villages!
      {% endblocktrans %}
      </p>
      {% endif %}
      <p>
        <button type="submit" class="btn btn-primary">
          {% trans "Learn more" %}
        </button>
      </p>
    </div>
  </div>
</div>
{% endblock %}
