{% extends "base.html" %}
{% block title %}Milk-E-Way | Wishlist{% endblock %}
{% block content %}
<div class="form-mini-container">
  <h1>Wish List</h1>
  <p>Hey {{worker.first_name}}! We have created a new wishlist for
  {{wishlist.product}} in {{wishlist.cluster.name}}. How many in mL do you need for the next month. {{wishlist.amount}}</p>
  <form action="{% url 'place_wish' wishlist.id %}" method="post">
    {% csrf_token %}
    <div class="form-row">
      <input type="number" name="quantity" id="{{ wishlist.id }}" min="3" max="50" placeholder="Enter Quantity in mL"/>
    </div>
    <div class="form-row form-last-row">
      <input type="submit" value="Confirm"/>
    </div>
  </form>
</div>
{% endblock %}
