<!doctype html>
<html>
  {% load staticfiles %}
  {% load pipeline %}
  <head>
    {% stylesheet 'bootstrap' %}
    <link href="{% static 'css/neverworm.css' %}" rel="stylesheet" type="text/css" media="screen,projection" />
    <title>Neverworm</title>

  </head>
  <body>

    <div class="nav">
      <div class="container">
	<ul class="pull-left">
	  <li><a href="#">Dashboard</a></li>
	  <li><a href="#">Wishlist</a></li>
	</ul>
	<ul class="pull-right">
	  <li><a href="#">Signup</a></li>
	  <li><a href="#">Login</a></li>
	  <li><a href="#">About</a></li>
	</ul>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Milk-e-way</h1>
        {% if worker_count %}
        <p>We have {{worker_count}} worker(s) in {{village_count}} vilage(s)!</p>
        {% else %}
        <p>No workers available.</p>
        {% endif %}
        <p>
          <button type="submit" class="btn btn-primary">
            Learn more
          </button>
        </p>
      </div>
    </div>
    {% javascript 'bootstrap' %}
  </body>
</html>
